
.side-bar-session {
  margin-left: 59px;
  margin-top: 55px;
  min-width: 200px;
}

.title {
  color: #0b63f8;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-bar-content {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-top: 29px;
  cursor: pointer;
}

.icon {
  margin-bottom: 15px;
}
